body {
    background-color: rgba(255, 255, 255, 0.342);
}

:root {
    --pad-col-width: 1fr;
}


#gridParent {

    display: grid;
    grid-template-columns: var(--pad-col-width) 1fr var(--pad-col-width);
}

#container {
    grid-column-start: 2;
    grid-column-end: 3;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.image {    
    width: auto;
    margin: 5px;
    height: calc(100vh * (1/6) - 12px);
    
}


.imageFocus {
    width: 100%;
    max-width: 100%;
    justify-content: center;
    height: 100%;
}

