body {
    background-color: rgba(255, 255, 255, 0.342);
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.image {
    
    /*flex: 1 1;*/
    width: calc(30% - 4px);
    margin: 5px;
    height: auto;
    
}


.imageFocus {
    width: 100%;
    max-width: 100%;
    justify-content: center;
    height: 100%;
}


/*
background-color: rgba(253, 0, 0, 0.342);
*/