body {
    background-color: rgba(253, 0, 0, 0.342);
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    
    /*flex: 1 1;*/
    width: calc(25% - 4px);
    margin: 1px;
    height: auto;
    
}


.imageFocus {
    
    justify-content: center;
    flex: 1 1;
    max-width: 100%;
    height: auto;
}


